.banner {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-right: 10px;
}

.banner img:last-child {
    margin-right: 0;
}